<br>
<br>
<div class="container-fluid">
  <div class=row>
    <div class="col col-md-12">

       
        
      <h2>Details</h2>
      
      <br> ID: <%=teacher._id %>
       <br> Given: <%=teacher.Given%>
      <br> Family: <%=teacher.Family%>
      <br> Email: <%=teacher.Email %>
     <br> Salary: <%=teacher.Salary %>
      <br> GitHub: <%=teacher.Github %>

      <hr>

      <form method="get" action="/teacher">
        <input type="submit" value="Return to list" class="btn btn-caution" />
      </form>

    </div>
  </div>
</div>